<form action="/visit" method="POST" role="form">

    <div class="form-group">
    <label>em@il</label>
    <input name="datetime" type="text" class="form-control" placeholder="Enter your mail">
  </div>

  <button type="submit" class="btn btn-primary">Enter</button>

</form>